<%= render 'shared/header' %>

<div class="container mx-auto p-8">
  <h2 class="text-2xl font-bold mb-4"><%= @static_page.title %></h2>
  <p><%= @static_page.content.html_safe %></p>
</div>

<%= render 'shared/footer' %>